################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI Prototypes/config
/.vs/AI Prototypes/CopilotIndices/17.14.670.39694
/.vs/AI Prototypes/FileContentIndex
/.vs/AI Prototypes/v17
/SharePointAgent/.vs
/.vs/Teams - SharePoint/CopilotIndices/17.14.698.11175
/.vs/Teams - SharePoint/FileContentIndex
/.vs/Teams - SharePoint/v17
/SharePointAIAgent - Blazor Client/bin/Debug/net8.0
/SharePointAIAgent - Blazor Client/.config
/SharePointAIAgent - Blazor Client/obj/Debug/net8.0
/SharePointAIAgent - Blazor Client/obj
/AIAgents/.vs/AIAgents
/.vs/Teams - SharePoint/config
/AIAgents/SharePointAgent - Blazor Client/bin/Debug/net8.0
/AIAgents/SharePointAgent - Blazor Client/obj
